<ng-container [formGroup]="parentFormGroup">
    <h1>Setup basic information</h1>
    <form formGroupName="seasonInfo">
        <div class="description">
            Fill out the basic information about your league.
        </div>
        <label>
            Name*
            <span *ngIf="nameField?.hasError('required') && nameField?.dirty" class="error-text">
                This is a required field.
            </span>
        </label>
        <input type="text" placeholder="Season 3" formControlName="name">

        <label>Game</label>
        <select formControlName="game">
            <option *ngFor="let game of gameEnum | keyvalue" [ngValue]="game.value.Value" [selected]="game.value.Value === gameEnum.F124.Value">{{game.value.Title}}</option>
        </select>

        <label>Platform</label>
        <select formControlName="platform">
            <option *ngFor="let platform of platformEnum | keyvalue:sortOrder" [ngValue]="platform.value.Value" [selected]="platform.value.Value === platformEnum.Steam.Value">{{platform.value.Title}}</option>
        </select>

        <label>
            Required laps completed percentage to score points*
            <span *ngIf="lapsField.hasError('required') && lapsField?.dirty" class="error-text">
                This is a required field.
            </span>
        </label>
        <div>
            <input type="number" placeholder="90" formControlName="lapsRequiredPercentage">
            <span class="unit">%</span>
        </div>
    </form>
</ng-container>