@import "../../../../../shared/style/form.scss";

@include input-fields;
@include form-setup;
@include select;
@include alert;

:host {
    align-self: center;
}

:host form{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
input[type=number] {
    width: 128px;
    display: inline-block;
    padding-right: 32px;
}

span {
    margin-left: 8px;
}