@use ".././styles.scss" as v;


.grid-container {
    padding-top: 96px;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    justify-items: center;
    align-items: start;
}


#left-side {
    width: 360px;
}