@use ".././styles.scss" as v;

.grid-container {
  background: v.$neutral-200;

  height: 100vh;
  overflow-y: scroll;
  padding-top: 64px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  justify-items: center;
}


#left-side {
  width: 360px;
}