@import "../../../shared/style/form.scss";

@include input-fields;
@include form-setup;
@include select;
@include file-upload;

:host {
    width: 100%;
}
form {
    width: 100%;
}

button {
    width: fit-content;
    height: fit-content;
    /* align-self: flex-end; */
}

.prev-next {
    width: 72px;
    display: flex;
}
