<h1>Create new season</h1>
<form [formGroup]="seasonForm" (ngSubmit)="onSubmit()">
    <!-- <h2>Current step {{currentStep}}/{{totalSteps}}</h2> -->

    <app-section-flex [direction]="'row'" [justify]="'space-around'" [gap]="'40px'">
        <div class="prev-next">
            <button *ngIf="currentStep !== 1 && !isSubmitted" type="button" (click)="previousStep()">
                <fa-icon [icon]="faArrowLeft" />
            </button>
        </div>
        

        <div class="form-column" *ngIf="currentStep === 1">
            <app-season-info-form  [(infoValue)]="infoValue">
            </app-season-info-form> 
        </div>


        <div class="form-column" *ngIf="currentStep === 2">
            <app-season-points 
                *ngIf="qualPointsArray" 
                [sessionName]="'Qualifying'"
                [(pointsArray)]="qualPointsArray"
                ></app-season-points>
        </div>

        <div class="form-column" *ngIf="currentStep === 3">
            <app-season-points 
                *ngIf="sprintPointsArray" 
                [sessionName]="'Sprint'"
                [(pointsArray)]="sprintPointsArray"
                ></app-season-points>
        </div>

        
        <div class="form-column" *ngIf="currentStep === 4">
            <app-season-points 
                *ngIf="racePointsArray" 
                [sessionName]="'Race'"
                [(pointsArray)]="racePointsArray"
                ></app-season-points>
        </div>

        <div class="form-column" *ngIf="currentStep === 5" >
            <h1>Create points for the fastest lap in the Race</h1>
            <form formGroupName="fastestLapPoints" class="row-input">
                <div class="description">
                    Decide the amount of points awarded for fastest lap and the lowest finishing position to be eligible.
                </div>
                <label>Lowest position</label>
                <input type="number" placeholder="10" formControlName="finishInsideTopN">
                <label>Points</label>
                <input type="number" placeholder="1" formControlName="points">
            </form>
        </div>

        <div class="form-column" *ngIf="currentStep === 6">
            <app-season-lobby-settings></app-season-lobby-settings>
        </div>

        <div class="form-column" *ngIf="currentStep === 7">
            <app-season-assists></app-season-assists>
        </div>

        <div class="form-column" *ngIf="currentStep === 8">
            <div>You are done.</div>
            <button type="submit" [disabled]="!seasonForm.valid">Create Season</button>
        </div>

        <div class="prev-next">
            <button *ngIf="currentStep !== totalSteps" 
                type="button" 
                (click)="nextStep()" 
                [disabled]="!stepValidity">
                <fa-icon [icon]="faArrowRight" />
            </button>
        </div>
    </app-section-flex>

    <!-- <p *ngIf="seasonForm.value">{{seasonForm.value | json}}</p> -->
    <!-- <p *ngIf="infoValid?.valid">Info valid from parent: {{infoValid?.valid}}</p> -->
</form>