<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>Registration</h1>

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username" formControlName="username">

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email" formControlName="email">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" formControlName="password">
    <input type="password" name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">

    <button>Sign up</button>
    
    <div id="log-in">Already have an account? <a href="">Log in here</a></div>
</form>