<form>
    <h1>Registration</h1>

    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email">

    <div class="label-flex">
        <label for="password">Password</label>
    </div>
    <input type="password" name="password" id="password" placeholder="Password">

    <button type="submit">Sign up</button>
    
    <div id="log-in">Already have an account? <a href="">Log in here</a></div>
</form>