@import "../../../shared/style/form.scss";

@include input-fields;
@include form-setup;
@include select;
@include file-upload;
@include color-picker;

:host {
    width: fit-content;
    height: fit-content;
    align-self: center;
}

form {
    width: 100%;
}

input[type=text] {
    width: 320px;
}

textarea {
    width: 480px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}
button {
    width: fit-content;
}