<form [formGroup]="leagueForm" (ngSubmit)="onSubmit()">
    <h1>{{title}}</h1>
    <app-section-flex [direction]="'row'" [justify]="'space-around'" [gap]="'40px'">
        <div class="form-column">
            <h2>Basic league info</h2>
            <label>
                Name*
            </label>
            <input type="text" placeholder="Racing League Name" formControlName="name">

            <label>Region*</label>
            <select formControlName="regionId">
                <option *ngFor="let r of regionList" value={{r.id}}>{{r.name}}</option>
            </select>

            <label>Description</label>
            <textarea placeholder="Information that doesn't fit elsewhere..." maxlength="240"
                formControlName="description"></textarea>

            <label class="custom-upload" for="img">Upload League logo</label>
            <input type="file" id="img" name="img" accept="image/png, image/jpeg, image/svg" formControlName="leagueLogo">
            
            <img *ngIf="preview" [src]="preview" class="preview" />

            <label>Pick a color for your league</label>
            <input class="color-input" 
                [value]="color" 
                [(colorPicker)]="color" 
                [style.background]="color"
                formControlName="color" />
        </div>
        <div class="form-column" formGroupName="socialMedia">
            <h2>Social Media Links</h2>
            <ng-container *ngFor="let s of social">
                <label>{{s.name}}</label>
                <input type="text" placeholder="{{s.placeholder}}" formControlName="{{s.name | lowercase}}">
            </ng-container>
        </div>
    </app-section-flex>
    <button type="submit" [disabled]="isSubmitted">{{buttonText + ' ' + leagueForm.value.name}}</button>
</form>
