@use "../../../app/shared/style/variables" as v;

:host, form {
    width: fit-content;
    max-width: 800px;
    min-width: 360px;
    height: fit-content;
    padding: 20px;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: v.$neutral-100;
    border-radius: 16px;
}


h1 {
    font-family: v.$title-family;
    font-size: v.$title-size-l;
    color: v.$neutral-900;
    text-align: center;
}

input[type=text],
input[type=email],
input[type=password] {
    height: 48px;
    width: 100%;
    padding: 8px 20px;

    font-family: v.$text-family;
    font-size:  v.$text-size-s;
    

    color: v.$neutral-900;
    background-color: v.$neutral-200;
    border-radius: 8px;
    border: 1px solid v.$neutral-300;
}

input[type=text]:focus {
    border: 1px solid v.$neutral-800;
}

label {
    align-self: baseline;

    display: block;
    margin-bottom: -8px;

    color: v.$neutral-800;
    font-size:  v.$text-size-xs;
}

.label-flex {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -8px;
    
    font-size:  v.$text-size-xs;
}

a {
    text-decoration: none;
}

button {
    border-radius: 8px;
    padding: 8px 24px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    /* Description/M */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    color: v.$neutral-100;
    background-color: v.$secondary;
    cursor: pointer;
}

#create-acc {
    font-size: v.$text-size-xs;
}

// Checkbox
.checkbox {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &__box {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        box-sizing: border-box;
        border: v.$primary 2px solid;
        overflow: hidden;
        background: v.$neutral-100;
    }

    &__check {
        width: 10px;
        height: 10px;
        position: relative;
        left: -11px;
        transition: left .1s;
        stroke: v.$light;
    }

    &__input {
        position: absolute;
        appearance: none;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
}

.checkbox__input:checked + .checkbox__box .checkbox__check {
    left: 0px;
}

.checkbox__input:focus-visible + .checkbox__box {
    outline: 2px solid v.$primary;
}

.checkbox__input:disabled + .checkbox__box {
    background: v.$neutral-500 !important;
    border-color: v.$primary !important;

    .checkbox__check {
        stroke: v.$primary !important;
    }
}
