<c-dropdown>
  <app-section-flex [direction]="'row'">
  <app-btn-custom label="John Doe">
  </app-btn-custom>
  <a cDropdownToggle style="color: white;"></a>
  <ul cDropdownMenu>
    <li><button [routerLink]="[]" cDropdownItem>Action</button></li>
    <li><button cDropdownItem>Another action</button></li>
    <li><button cDropdownItem>Something else here</button></li>
    <li><button [routerLink]="['/login']" (click)="logout()" cDropdownItem>Logout!</button></li>
  </ul>
  </app-section-flex>
</c-dropdown>
