<ul class="list bg-base-100 rounded-box shadow-md">

    <li class="flex justify-between p-4 pb-2 tracking-wide text-xs">
        <span class="opacity-60">List of all available tracks</span>
        <span>
            <a routerLink="add" class="hover:underline">+ Add new track</a>
        </span>
    </li>

    <li class="list-row">
        <div><img class="size-10 rounded-box" src="https://upload.wikimedia.org/wikipedia/commons/8/88/Flag_of_Australia_%28converted%29.svg" /></div>
        <div>
            <div>Australia - Melbourne</div>
            <div class="text-xs uppercase font-semibold opacity-60">Albert Park Circuit</div>
        </div>
    </li>
</ul>

<router-outlet></router-outlet>