<ul class="list bg-base-100 rounded-box shadow-md pb-4">

    <li class="flex justify-between p-4 pb-2 tracking-wide text-xs">
        <span class="opacity-60">List of all available seasons</span>
        <span>
            <a routerLink="add-season" class="hover:underline">+ Add new season</a>
        </span>
    </li>

    @for (season of list(); track season.id)
    {
    <li class="list-row cursor-pointer hover:bg-base-200" routerLink="{{season.slug}}">
        <img class="size-10 rounded-box" [src]="season.logoUrl" />
        <div>
            <div>{{ season.name }}</div>
            <div class="text-xs uppercase font-semibold opacity-60">{{ season.game }}</div>
        </div>
    </li>
    }
</ul>