@use "../../../../styles.scss" as v;

:host {
    width: fit-content;
    min-width: fit-content;
    display: contents;
}

.btn {
    border-radius: 60px;
    padding: 8px 24px;
    height: fit-content;
    min-width: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    /* Description/M */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    box-shadow: v.$shadow;
}

.btn:hover {
    cursor: pointer;
}

.light {
    color: v.$primary;
    background-color: v.$neutral-100;
}

.dark {
    color: v.$neutral-100;
    background-color: v.$secondary;
}

.red {
    color: red;
}