@if (dto(); as league) {

@if (league.logoUrl) {
<figure class="px-6 pt-6">
    <img [src]="league.logoUrl" [alt]="league.name" class="rounded-xl max-h-32 object-contain drop-shadow-md drop-shadow-base-content/10" />
</figure>
}

<div class="space-y-4">
    <h2 class="card-title flex justify-between items-center text-3xl">
        {{ league.name }}
        <a class="btn btn-outline" routerLink="edit">Edit</a>
    </h2>

    <div class="flex gap-2">
        <span class="badge badge-primary font-bold">
            {{ league.abbreviation }}
        </span>
        <span class="badge badge-outline">
            {{ regionLabels[league.region] }}
        </span>
    </div>

    @if (league.description) {
    <p class="text-sm opacity-80">
        {{ league.description }}
    </p>
    }

    <div class="mt-2 space-y-1 text-sm">
        <span class="font-semibold">Timezone:</span>
        {{ league.timezone }}
    </div>

    @if(league.slug) {
    <season-list [leagueSlug]="league.slug"></season-list>
    }
</div>


} @else {
<div class="alert">
    <span>No league selected</span>
</div>
}


<router-outlet></router-outlet>