@use "../../../../app/shared/style/variables" as v;

:host {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    padding: 4px 16px;

    font-size: v.$text-size-s;
    font-family: v.$text-family;
    text-transform: capitalize;
}

:host img {
    height: 32px;
    width: 32px;
}

.label-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.label-name {
    color: v.$neutral-500;
    font-size: v.$text-size-xs;
}

fa-icon {
    font-size: 32px;
}