@use "../../../../styles.scss" as v;
 
:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 4px 16px;

    font-family: v.$text-size-s;
    font-size: v.$text-family;
}

:host img {
    height: 32px;
    width: 32px;
}