@use "../../../../styles.scss" as v;

:host {
    position: fixed;
    top: 64px;

    //background-color: v.$primary;
    width: 240px;
    height: 100vh;
    //height: fit-content;
    padding: 8px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: v.$neutral-300;
}
