@use "../../../../app/shared/style/variables" as v;

:host {
    position: fixed;
    top: 64px;

    //background-color: v.$primary;
    width: 200px;
    height: 100vh;
    //height: fit-content;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: v.$neutral-300;
}

ul {
    list-style-type: none;
    padding: 0;

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    font-family: v.$text-family;
    font-size: v.$text-size-m;

    cursor: pointer;
    
    :hover {
        background-color: v.$neutral-100;
    }
}

li {
    
    width: 100%;
    padding: 16px 40px;
}