

<app-alert></app-alert>
<div>
  <h1>WELCOME HEADER!</h1>
  <app-announcement-carousel></app-announcement-carousel>
  <app-main-buttons></app-main-buttons>
  <!-- <div>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <button>
      <mat-icon>search</mat-icon>
    </button>
    <button>
      <mat-icon>timer</mat-icon>
    </button>
  </div> -->
  <h1>RECENT RESULTS</h1>
  <app-main-results></app-main-results>
  <!-- <div>
    <ul>
      <li>item 1</li>
      <li>item 1</li>
      <li>item 1</li>
    </ul>
  </div> -->

  <h1>POPULAR LEAGUES</h1>
  <app-main-results></app-main-results>
  <!-- <div>
    <ul>
      <li>item 1</li>
      <li>item 1</li>
      <li>item 1</li>
    </ul>
  </div> -->
</div>
