<div *ngIf="first" class="text-group text-item">
    <div> {{first}} </div>
    <div *ngIf="firstDescription" class="description">{{firstDescription}}</div>
</div>

<div *ngIf="second" class="text-group text-item">
    <div> {{second}} </div>
    <div *ngIf="secondDescription" class="description">{{secondDescription}}</div>
</div>

<div *ngIf="third" class="text-group text-item third">
    <div> {{third}} </div>
    <div *ngIf="thirdDescription" class="description">{{thirdDescription}}</div>
</div>

<div class="icon-container">
    <ng-content></ng-content>
</div>
<app-btn-custom *ngIf="faIcon" [label]="''" [colorClass]="'dark'" [faIcon]="faIcon" (OnClick)="imeFunkcije()">
</app-btn-custom>