<app-section-flex [title]="'Vedran Antić'">
  <app-section-flex [direction]="'row'" class="wrapping">
    <app-icon-label [iconPath]="'driver/steam.svg'" [name]="'Platform'"
      >Steam</app-icon-label
    >
    <app-icon-label [iconPath]="'driver/wheel.svg'" [name]="'Wheel'"
      >Logitech G29</app-icon-label
    >
    <app-icon-label [iconPath]="'driver/pedals.svg'" [name]="'Pedals'"
      >CSL Pedals CL</app-icon-label
    >
  </app-section-flex>
</app-section-flex>
<app-section-flex [title]="'Vedrans upcoming races'">
  <ul>
    <li>
      <app-race-row></app-race-row>
    </li>
    <li>
      <app-race-row></app-race-row>
    </li>
    <li>
      <app-race-row></app-race-row>
    </li>
  </ul>
</app-section-flex>
