@use "../../../app/shared/style/variables" as v;
@import "../../shared/style/table.scss";

@include table-setup;

:host {
    padding: 0 20px;
    min-width: 1000px;
    width: 100%;


    display: flex;
    flex-direction: column;
    gap: 32px;
}

ul, li {
    width: 100%;
    height: fit-content;
}

ul {
    list-style: none;
    background-color: v.$neutral-100;
    border-radius: 16px;
    padding: 8px 32px;
}

li, th, tr {
    border-bottom: 1px solid v.$neutral-200;
}

li:last-child, tr:last-child {
    border-bottom: none;
}

.table-container {
    width: fit-content;
    height: fit-content;

    padding: 8px 32px;

    background-color: v.$neutral-100;
    border-radius: 16px;

    flex-grow: 1;
}


table {
    width: 100%;
}

.last-ach {
    color: v.$neutral-500;
}