<ng-container [formGroup]="parentFormGroup">
    <h1>Define Ingame lobby settings</h1>
    <form formGroupName="lobbySettings">  
        <div class="description">
            What lobby setting will your league use when racing?
        </div>

        <app-section-flex [direction]="'column'" class="wrapping">
            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[0].iconPath"
                    [name]="mockLobby[0].label"
                ></app-icon-label>
                <select formControlName="qualifying">
                    <option value="OSQ">One-shot qualifying</option>
                    <option value="Short">Short - 18min</option>
                    <option value="Full">Full</option>
                </select>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[1].iconPath"
                    [name]="mockLobby[1].label"
                ></app-icon-label>
                <app-switch [controlName]="'formationLap'"></app-switch>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[2].iconPath"
                    [name]="mockLobby[2].label"
                ></app-icon-label>
                <div>
                    <input type="number" formControlName="raceDistancePercentage">
                    <span class="unit">%</span>
                </div>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[3].iconPath"
                    [name]="mockLobby[3].label"
                ></app-icon-label>
                <select formControlName="weather">
                    <option value="Dynamic">Dynamic</option>
                    <option value="Random">Random</option>
                    <option value="Custom">Custom</option>
                </select>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[4].iconPath"
                    [name]="mockLobby[4].label"
                ></app-icon-label>
                <select formControlName="cornerCutting">
                    <option value="Standard">Standard</option>
                    <option value="Strict">Strict</option>
                </select>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[5].iconPath"
                    [name]="mockLobby[5].label"
                ></app-icon-label>
                <select formControlName="damage">
                    <option value="None">None</option>
                    <option value="Reduced">Reduced</option>
                    <option value="Standard">Standard</option>
                    <option value="Simulation">Simulation</option>
                </select>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[6].iconPath"
                    [name]="mockLobby[6].label"
                ></app-icon-label>
                <app-switch [controlName]="'parcFerme'"></app-switch>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[7].iconPath"
                    [name]="mockLobby[7].label"
                ></app-icon-label>
                <app-switch [controlName]="'equalCarPerformance'"></app-switch>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[8].iconPath"
                    [name]="mockLobby[8].label"
                ></app-icon-label>
                <select formControlName="safetyCar">
                    <option value="Off">Off</option>
                    <option value="Reduced">Reduced</option>
                    <option value="Standard">Standard</option>
                    <option value="Increased">Increased</option>
                </select>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[9].iconPath"
                    [name]="mockLobby[9].label"
                ></app-icon-label>
                <app-switch [controlName]="'collisions'"></app-switch>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockLobby[10].iconPath"
                    [name]="mockLobby[10].label"
                ></app-icon-label>
                <app-switch [controlName]="'ghosting'"></app-switch>
            </div>

        </app-section-flex>
    </form>
</ng-container>