<h1>Create points system for {{pointsType.Title}}</h1>
<ng-container [formGroup]="parentFormGroup">
    <form formGroupName="{{'points' + pointsType.ValueName}}">
        <div class="description">
            Decide the points distribution for the {{pointsType.Title}}. 
            If you don't want to give out points for the {{pointsType.Title}}, leave this empty and go to the next step.
            <ng-content></ng-content>
        </div>
        <div class="buttons">
            <button type="button" 
                (click)="addPointsItem()" 
                [disabled]="pointsArray.controls.length >= maxAmount">
                {{pointsArray.controls.length < maxAmount ? "Add position" : ('Maximum is ' + maxAmount + ' drivers') }} 
            </button>
        </div>
        <div class="input-fields">
            <div class="labels" *ngIf="pointsArray.controls.length">
                <label>Position</label>
                <label>Points</label>
            </div>
            <ng-container *ngFor="let pointsItem of pointsArray.controls; let i = index">
                <app-points-item 
                    [pointsItem]="toFormGroup(pointsItem)"
                    [arrayIndex]="i" 
                    (removePointsItemEvent)="removePointsItem($event)"
                    >
                </app-points-item>
            </ng-container>
        </div>
    </form>
</ng-container>