<img *ngIf="!isDataLoaded" src="../../../assets/images/common/loading.gif" alt="Loading..." class="loading">

<ng-container *ngIf="isDataLoaded">
    <app-section-flex [direction]="'row'">
        <div class="flex-text-column">
            <h1>{{seasonItem.name}}</h1>
            <div class="racing-day">
                Racing on {{seasonItem.grandPrixes[0].startTime | date:'EEEE'}}s at {{seasonItem.grandPrixes[0].startTime | date:'HH:mm O'}}.
            </div><!-- 
            <div class="description">
                Basic infromacije o ligi što već organizator želi.
                Utrke se održavaju svakim četvrtkom u 20:00. Liga namjenjena za igrače iz ovog govornog područja.
            </div> -->
            <app-section-flex [direction]="'row'" class="wrapping" [titleM]="'Allowed assists'">
                <app-icon-label 
                    *ngFor="let a of assists"
                    [iconPath]="'assists/' + a.icon + '.png'" 
                    [name]="a.name">
                    {{a.value}}
                </app-icon-label>
            </app-section-flex>
            <app-section-flex [direction]="'row'" class="wrapping" [titleM]="'Lobby settings'">
                <app-icon-label 
                    *ngFor="let l of lobbySettings" 
                    [iconPath]="'lobby/' + l.icon + '.png'" 
                    [name]="l.name"
                    [width]="'240px'"
                    >{{l.value}}</app-icon-label>
            </app-section-flex>
        </div>
        <img src="../../../assets/images/league/league-logo.png" alt="">
    </app-section-flex>
    
    
    <app-standings-tables 
        [grandPrixes]="seasonItem.grandPrixes"
        [drivers]="seasonItem.drivers"
        [teams]="seasonItem.teams">
    </app-standings-tables>
    
    <app-section-flex [direction]="'column'" [title]="'Points distribution'" >
        <app-section-flex [titleM]="'Qualifying points'" *ngIf="seasonItem.qualPoints?.length">
            <table>
                <thead>
                    <th>Position</th>
                    <th *ngFor="let qp of seasonItem.racePoints">P{{qp.position}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Points</td>
                        <td *ngFor="let qp of seasonItem.racePoints">{{qp.points}}</td>
                    </tr>
                </tbody>
            </table>
        </app-section-flex>
    
        <app-section-flex [titleM]="'Sprint points'" *ngIf="seasonItem.sprintPoints?.length">
            <table>
                <thead>
                    <th>Position</th>
                    <th *ngFor="let sp of seasonItem.racePoints">P{{sp.position}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Points</td>
                        <td *ngFor="let sp of seasonItem.racePoints">{{sp.points}}</td>
                    </tr>
                </tbody>
            </table>
        </app-section-flex>
    
        <app-section-flex [titleM]="'Race points'" *ngIf="seasonItem.racePoints?.length">
            <table>
                <thead>
                    <th>Position</th>
                    <th *ngFor="let rp of seasonItem.racePoints">P{{rp.position}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Points</td>
                        <td *ngFor="let rp of seasonItem.racePoints">{{rp.points}}</td>
                    </tr>
                </tbody>
            </table>
        </app-section-flex>
    </app-section-flex>
    
    
    <app-section-flex [direction]="'row'" class="wrapping" [title]="'Race calendar'" [justify]="'space-between'" [gap]="'16px'">
        <a *ngFor="let gp of seasonItem.grandPrixes" [routerLink]="['grandprix', gp.id]">
            <app-race-card
            [gpName]="gp.track.countryName"
            [startTime]="gp.startTime"
            [trackId]="gp.track.id"
            [trackName]="gp.track.name"
            [countryIso]="gp.track.countryIso"
            ></app-race-card>
        </a>
    </app-section-flex>
</ng-container>