USE [master]
GO
/****** Object:  Database [f1stats]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE DATABASE [f1stats]
 CONTAINMENT = NONE
 COLLATE Croatian_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [f1stats].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [f1stats]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEnglish] [varchar](64) NOT NULL,
	[NameCroatian] [nvarchar](64) NOT NULL,
	[ISO] [varchar](2) NOT NULL,
	[ISO3] [varchar](3) NOT NULL,
	[ImagePath] [varchar](255) NULL,
 CONSTRAINT [PK_CountryId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlatformId] [int] NULL,
	[SocialMediaId] [int] NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Wheel] [varchar](64) NULL,
	[Pedals] [varchar](64) NULL,
	[Controller] [varchar](64) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_DriverId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Driver_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
CONSTRAINT [PK_GameId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrandPrix]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrandPrix](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeasonId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[StartTime] [datetimeoffset](7) NOT NULL,
	[HasSprint] [bit] NOT NULL,
	[YoutubeUrl] [varchar](255) NULL,
	[TrackId] [int] NULL,
 CONSTRAINT [PK_GrandPrixId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[League]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[League](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegionId] [int] NOT NULL,
	[SocialMediaId] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ImagePath] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[ColorHex] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LeagueId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_League_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeagueUser]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeagueUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LeagueId] [int] NOT NULL,
	[IsOwner] [bit] NOT NULL,
 CONSTRAINT [PK_LeagueUserId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platform]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platform](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_PlatformId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualifying]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifying](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamId] [int] NOT NULL,
	[GrandPrixId] [int] NOT NULL,
	[DriverId] [int] NOT NULL,
	[Position] [tinyint] NOT NULL,
	[FastestLapInMS] [int] NOT NULL,
	[ResultStatus] [tinyint] NOT NULL,
	[BestTimeTyre] [varchar](2) NULL,
	[PointsGained] [tinyint] NOT NULL,
	[IsReserve] [bit] NOT NULL,
 CONSTRAINT [PK_QualifyingId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Race]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Race](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamId] [int] NOT NULL,
	[GrandPrixId] [int] NOT NULL,
	[DriverId] [int] NOT NULL,
	[Position] [tinyint] NOT NULL,
	[RaceTime] [decimal](8, 3) NULL,
	[ResultStatus] [tinyint] NOT NULL,
	[TimePenalty] [tinyint] NOT NULL,
	[PostRaceTimePenalty] [tinyint] NOT NULL,
	[LapsCompleted] [tinyint] NOT NULL,
	[GridPosition] [tinyint] NOT NULL,
	[FastestLapInMS] [int] NULL,
	[PointsGained] [tinyint] NOT NULL,
	[IsReserve] [bit] NOT NULL,
	[UsedTyres] [varchar](8) NULL,
 CONSTRAINT [PK_RaceId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_RegionId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Season]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Season](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeagueId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[PlatformId] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ImagePath] [varchar](255) NULL,
	[LapsRequiredPercentage] [tinyint] NOT NULL,
 CONSTRAINT [PK_SeasonId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonAssists]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonAssists](
	[Id] [int] NOT NULL,
	[RacingLine] [varchar](16) NOT NULL,
	[Gearbox] [varchar](10) NOT NULL,
	[TractionControl] [varchar](10) NOT NULL,
	[ABS] [bit] NOT NULL,
 CONSTRAINT [PK_SeasonAssists_SeasonId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonDriver]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonDriver](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[SeasonId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[RacingNumber] [tinyint] NOT NULL,
	[PenaltyPoints] [tinyint] NOT NULL,
 CONSTRAINT [PK_SeasonDriverId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonFastestLapPoints]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonFastestLapPoints](
	[Id] [int] NOT NULL,
	[Points] [tinyint] NOT NULL,
	[Position] [tinyint] NOT NULL,
 CONSTRAINT [PK_SeasonFastestLapPoints_SeasonId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonLobbySettings]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonLobbySettings](
	[Id] [int] NOT NULL,
	[Qualifying] [varchar](8) NOT NULL,
	[RaceDistancePercentage] [tinyint] NOT NULL,
	[FormationLap] [bit] NOT NULL,
	[Weather] [varchar](10) NOT NULL,
	[CornerCutting] [varchar](10) NOT NULL,
	[CarDamage] [varchar](12) NOT NULL,
	[CarDamageRate] [varchar](12) NOT NULL,
	[ParcFerme] [bit] NOT NULL,
	[EqualCarPerformance] [bit] NOT NULL,
	[SafetyCar] [varchar](10) NOT NULL,
	[Collisions] [bit] NOT NULL,
	[Ghosting] [bit] NOT NULL,
	[Start] [varchar](15) NOT NULL,
 CONSTRAINT [PK_SeasonLobbySettings_SeasonId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonQualPoints]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonQualPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeasonId] [int] NOT NULL,
	[Position] [tinyint] NOT NULL,
	[Points] [tinyint] NOT NULL,
 CONSTRAINT [PK_SeasonQualPointsId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonRacePoints]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonRacePoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeasonId] [int] NOT NULL,
	[Position] [tinyint] NOT NULL,
	[Points] [tinyint] NOT NULL,
 CONSTRAINT [PK_SeasonRacePointsId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonSprintPoints]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonSprintPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeasonId] [int] NOT NULL,
	[Position] [tinyint] NOT NULL,
	[Points] [tinyint] NOT NULL,
 CONSTRAINT [PK_SeasonSprintPointsId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialMedia]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialMedia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Website] [varchar](255) NULL,
	[Discord] [varchar](255) NULL,
	[Youtube] [varchar](255) NULL,
	[Twitch] [varchar](255) NULL,
	[Facebook] [varchar](255) NULL,
	[Instagram] [varchar](255) NULL,
	[Twitter] [varchar](255) NULL,
 CONSTRAINT [PK_SocialMediaId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sprint]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sprint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamId] [int] NOT NULL,
	[GrandPrixId] [int] NOT NULL,
	[DriverId] [int] NOT NULL,
	[Position] [tinyint] NOT NULL,
	[RaceTime] [decimal](8, 3) NOT NULL,
	[TimePenalty] [tinyint] NOT NULL,
	[LapsCompleted] [tinyint] NOT NULL,
	[GridPosition] [tinyint] NOT NULL,
	[PointsGained] [tinyint] NOT NULL,
	[IsReserve] [bit] NOT NULL,
	[UsedTyres] [varchar](8) NULL,
	[ResultStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_SprintId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[ImagePath] [varchar](255) NULL,
	[ColorHex] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TeamId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Team_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[CornersTotal] [tinyint] NULL,
	[CornersLeft] [tinyint] NULL,
	[Elevation] [decimal](5, 1) NULL,
	[Length] [int] NULL,
	[PitStop] [tinyint] NULL,
	[ImagePath] [varchar](255) NULL,
	[Laps] [tinyint] NOT NULL,
	[CountryId] [int] NULL,
	[Location] [varchar](64) NULL,
 CONSTRAINT [PK_TrackId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/10/2023 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_UserId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_User_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Driver_CountryId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Driver_CountryId] ON [dbo].[Driver]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Driver_PlatformId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Driver_PlatformId] ON [dbo].[Driver]
(
	[PlatformId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Driver_SocialMediaId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Driver_SocialMediaId] ON [dbo].[Driver]
(
	[SocialMediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GrandPrix_SeasonId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_GrandPrix_SeasonId] ON [dbo].[GrandPrix]
(
	[SeasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GrandPrix_TrackId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_GrandPrix_TrackId] ON [dbo].[GrandPrix]
(
	[TrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_League_RegionId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_League_RegionId] ON [dbo].[League]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_League_SocialMediaId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_League_SocialMediaId] ON [dbo].[League]
(
	[SocialMediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeagueUser_LeagueId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeagueUser_LeagueId] ON [dbo].[LeagueUser]
(
	[LeagueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeagueUser_UserId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeagueUser_UserId] ON [dbo].[LeagueUser]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Qualifying_DriverId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qualifying_DriverId] ON [dbo].[Qualifying]
(
	[DriverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Qualifying_GrandPrixId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qualifying_GrandPrixId] ON [dbo].[Qualifying]
(
	[GrandPrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Qualifying_TeamId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qualifying_TeamId] ON [dbo].[Qualifying]
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Race_DriverId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Race_DriverId] ON [dbo].[Race]
(
	[DriverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Race_GrandPrixId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Race_GrandPrixId] ON [dbo].[Race]
(
	[GrandPrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Race_TeamId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Race_TeamId] ON [dbo].[Race]
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Season_GameId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Season_GameId] ON [dbo].[Season]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Season_LeagueId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Season_LeagueId] ON [dbo].[Season]
(
	[LeagueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Season_PlatformId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Season_PlatformId] ON [dbo].[Season]
(
	[PlatformId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonAssists_SeasonId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonAssists_SeasonId] ON [dbo].[SeasonAssists]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonDriver_DriverId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonDriver_DriverId] ON [dbo].[SeasonDriver]
(
	[DriverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonDriver_SeasonId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonDriver_SeasonId] ON [dbo].[SeasonDriver]
(
	[SeasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonDriver_TeamId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonDriver_TeamId] ON [dbo].[SeasonDriver]
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonFastestLapPoints_SeasonId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonFastestLapPoints_SeasonId] ON [dbo].[SeasonFastestLapPoints]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonLobbySettings_SeasonId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonLobbySettings_SeasonId] ON [dbo].[SeasonLobbySettings]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonQualPoints_SeasonId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonQualPoints_SeasonId] ON [dbo].[SeasonQualPoints]
(
	[SeasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonRacePoints_SeasonId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonRacePoints_SeasonId] ON [dbo].[SeasonRacePoints]
(
	[SeasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeasonSprintPoints_SeasonId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeasonSprintPoints_SeasonId] ON [dbo].[SeasonSprintPoints]
(
	[SeasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sprint_TeamId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sprint_TeamId] ON [dbo].[Sprint]
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SprintDriver_DriverId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SprintDriver_DriverId] ON [dbo].[Sprint]
(
	[DriverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SprintDriver_GrandPrixId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_SprintDriver_GrandPrixId] ON [dbo].[Sprint]
(
	[GrandPrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Track_CountryId]    Script Date: 8/10/2023 2:58:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Track_CountryId] ON [dbo].[Track]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SeasonFastestLapPoints] ADD  DEFAULT ('1') FOR [Points]
GO
ALTER TABLE [dbo].[SeasonFastestLapPoints] ADD  DEFAULT ('10') FOR [Position]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_CountryId]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_PlatformId] FOREIGN KEY([PlatformId])
REFERENCES [dbo].[Platform] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_PlatformId]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_SocialMediaId] FOREIGN KEY([SocialMediaId])
REFERENCES [dbo].[SocialMedia] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_SocialMediaId]
GO
ALTER TABLE [dbo].[GrandPrix]  WITH CHECK ADD  CONSTRAINT [FK_GrandPrix_SeasonId] FOREIGN KEY([SeasonId])
REFERENCES [dbo].[Season] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GrandPrix] CHECK CONSTRAINT [FK_GrandPrix_SeasonId]
GO
ALTER TABLE [dbo].[GrandPrix]  WITH CHECK ADD  CONSTRAINT [FK_GrandPrix_TrackId] FOREIGN KEY([TrackId])
REFERENCES [dbo].[Track] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GrandPrix] CHECK CONSTRAINT [FK_GrandPrix_TrackId]
GO
ALTER TABLE [dbo].[League]  WITH CHECK ADD  CONSTRAINT [FK_League_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[League] CHECK CONSTRAINT [FK_League_RegionId]
GO
ALTER TABLE [dbo].[League]  WITH CHECK ADD  CONSTRAINT [FK_League_SocialMediaId] FOREIGN KEY([SocialMediaId])
REFERENCES [dbo].[SocialMedia] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[League] CHECK CONSTRAINT [FK_League_SocialMediaId]
GO
ALTER TABLE [dbo].[LeagueUser]  WITH CHECK ADD  CONSTRAINT [FK_LeagueUser_LeagueId] FOREIGN KEY([LeagueId])
REFERENCES [dbo].[League] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeagueUser] CHECK CONSTRAINT [FK_LeagueUser_LeagueId]
GO
ALTER TABLE [dbo].[LeagueUser]  WITH CHECK ADD  CONSTRAINT [FK_LeagueUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeagueUser] CHECK CONSTRAINT [FK_LeagueUser_UserId]
GO
ALTER TABLE [dbo].[Qualifying]  WITH CHECK ADD  CONSTRAINT [FK_Qualifying_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Qualifying] CHECK CONSTRAINT [FK_Qualifying_DriverId]
GO
ALTER TABLE [dbo].[Qualifying]  WITH CHECK ADD  CONSTRAINT [FK_Qualifying_GrandPrixId] FOREIGN KEY([GrandPrixId])
REFERENCES [dbo].[GrandPrix] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Qualifying] CHECK CONSTRAINT [FK_Qualifying_GrandPrixId]
GO
ALTER TABLE [dbo].[Qualifying]  WITH CHECK ADD  CONSTRAINT [FK_Qualifying_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Qualifying] CHECK CONSTRAINT [FK_Qualifying_TeamId]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_DriverId]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_GrandPrixId] FOREIGN KEY([GrandPrixId])
REFERENCES [dbo].[GrandPrix] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_GrandPrixId]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_TeamId]
GO
ALTER TABLE [dbo].[Season]  WITH CHECK ADD  CONSTRAINT [FK_Season_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Season] CHECK CONSTRAINT [FK_Season_GameId]
GO
ALTER TABLE [dbo].[Season]  WITH CHECK ADD  CONSTRAINT [FK_Season_LeagueId] FOREIGN KEY([LeagueId])
REFERENCES [dbo].[League] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Season] CHECK CONSTRAINT [FK_Season_LeagueId]
GO
ALTER TABLE [dbo].[Season]  WITH CHECK ADD  CONSTRAINT [FK_Season_PlatformId] FOREIGN KEY([PlatformId])
REFERENCES [dbo].[Platform] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Season] CHECK CONSTRAINT [FK_Season_PlatformId]
GO
ALTER TABLE [dbo].[SeasonAssists]  WITH CHECK ADD  CONSTRAINT [FK_SeasonAssists_SeasonId] FOREIGN KEY([Id])
REFERENCES [dbo].[Season] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonAssists] CHECK CONSTRAINT [FK_SeasonAssists_SeasonId]
GO
ALTER TABLE [dbo].[SeasonDriver]  WITH CHECK ADD  CONSTRAINT [FK_SeasonDriver_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonDriver] CHECK CONSTRAINT [FK_SeasonDriver_DriverId]
GO
ALTER TABLE [dbo].[SeasonDriver]  WITH CHECK ADD  CONSTRAINT [FK_SeasonDriver_SeasonId] FOREIGN KEY([SeasonId])
REFERENCES [dbo].[Season] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonDriver] CHECK CONSTRAINT [FK_SeasonDriver_SeasonId]
GO
ALTER TABLE [dbo].[SeasonDriver]  WITH CHECK ADD  CONSTRAINT [FK_SeasonDriver_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonDriver] CHECK CONSTRAINT [FK_SeasonDriver_TeamId]
GO
ALTER TABLE [dbo].[SeasonFastestLapPoints]  WITH CHECK ADD  CONSTRAINT [FK_SeasonFastestLapPoints_SeasonId] FOREIGN KEY([Id])
REFERENCES [dbo].[Season] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonFastestLapPoints] CHECK CONSTRAINT [FK_SeasonFastestLapPoints_SeasonId]
GO
ALTER TABLE [dbo].[SeasonLobbySettings]  WITH CHECK ADD  CONSTRAINT [FK_SeasonLobbySettings_SeasonId] FOREIGN KEY([Id])
REFERENCES [dbo].[Season] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonLobbySettings] CHECK CONSTRAINT [FK_SeasonLobbySettings_SeasonId]
GO
ALTER TABLE [dbo].[SeasonQualPoints]  WITH CHECK ADD  CONSTRAINT [FK_SeasonQualPoints_SeasonId] FOREIGN KEY([SeasonId])
REFERENCES [dbo].[Season] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonQualPoints] CHECK CONSTRAINT [FK_SeasonQualPoints_SeasonId]
GO
ALTER TABLE [dbo].[SeasonRacePoints]  WITH CHECK ADD  CONSTRAINT [FK_SeasonRacePoints_SeasonId] FOREIGN KEY([SeasonId])
REFERENCES [dbo].[Season] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonRacePoints] CHECK CONSTRAINT [FK_SeasonRacePoints_SeasonId]
GO
ALTER TABLE [dbo].[SeasonSprintPoints]  WITH CHECK ADD  CONSTRAINT [FK_SeasonSprintPoints_SeasonId] FOREIGN KEY([SeasonId])
REFERENCES [dbo].[Season] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeasonSprintPoints] CHECK CONSTRAINT [FK_SeasonSprintPoints_SeasonId]
GO
ALTER TABLE [dbo].[Sprint]  WITH CHECK ADD  CONSTRAINT [FK_Sprint_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sprint] CHECK CONSTRAINT [FK_Sprint_TeamId]
GO
ALTER TABLE [dbo].[Sprint]  WITH CHECK ADD  CONSTRAINT [FK_SprintDriver_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sprint] CHECK CONSTRAINT [FK_SprintDriver_DriverId]
GO
ALTER TABLE [dbo].[Sprint]  WITH CHECK ADD  CONSTRAINT [FK_SprintDriver_GrandPrixId] FOREIGN KEY([GrandPrixId])
REFERENCES [dbo].[GrandPrix] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sprint] CHECK CONSTRAINT [FK_SprintDriver_GrandPrixId]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_Track_CountryId]
GO
USE [master]
GO
