<ng-container [formGroup]="grandPrixInfoItem">
    <td>
        <input type="text" placeholder="Australian Grand Prix" formControlName="name">
    </td>
    <ng-container [formGroup]="timeForm">
        <td>
            <input type="datetime-local" formControlName="dateTime" />
        </td>

        <td>
            <select class="timezone" formControlName="timezone">
                <option *ngFor="let t of timezone" value={{t}}>{{"UTC" + t}}</option>
            </select>
        </td>
    </ng-container>
    <td>
        <select formControlName="trackId">
            <option *ngFor="let t of mockTracks" value={{t.id}}>{{t.name}}</option>
        </select>
    </td>

    <td>
        <input type="text" placeholder="youtube.com" formControlName="youTubeURL">
    </td>

    <td>
        <app-switch [controlName]="'hasSprint'"></app-switch>
    </td>

    <td>
        <app-btn-custom [faIcon]="faTrashCan" (OnClick)="removeGrandPrixInfoItem(arrayIndex)"
            [style]="{'margin': 'auto'}">
        </app-btn-custom>
    </td>
</ng-container>