* {
  width: 100%;
  min-width: 480px;
  height: 200px;

  background: black;
  border-radius: 16px;


  //Remove when implemented
  color: white;
  text-align: center;
  font-size: 60px;
  align-self: flex-start;

  display: flex;
  justify-content: baseline;
  align-items: flex-end;

  padding: 20px 40px;
}
