*{
  width: 1080px;
  height: 200px;
  left: 0px;
  top: 60px;

  background: black;
  border-radius: 16px;


  //Remove when implemented
  color: white;
  text-align: center;
  font-size: 60px;
  align-self: flex-start;
}
p{
  padding-top: 50px;
}
