@use "../../../../app/shared/style/variables" as v;
  
  /* Announcement */

:host {
  /* Auto layout */
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 16px;

  width: fit-content;
  height: fit-content;
  max-height: 240px;

  /* Info/Light */

  background: #A8E1F4;
  border-radius: 8px;


}

p{
  height: fit-content;
  width: fit-content;
  max-width: 800px;
  align-self: center;

  margin: 0;

  /* Description/M */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: v.$text-size-s;
  line-height: 150%;
}

fa-icon {
  font-size: 24px;
}