button{
  padding: 40px 20px;

  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  align-items: center;

  width: 260px;
  height: 260px;

  /* Neutral/100 */

  background: #FFFFFF;
  border-radius: 16px;

}

fa-icon{
  /* transform: scale(5); */
  width: 128px;
  height: 128px;
  font-size: 112px;
  align-self: center;
}

p{
  font-family: Roboto;
  font-size: 20px;
}
