<app-section-flex [direction]="'row'">
    <div class="flex-text-column">
        <h1>F1 Adria Liga - Sezona 6</h1>
        <div class="racing-day">
            Racing on Thursdays at 20:00 CEST
        </div><!-- 
        <div class="description">
            Basic infromacije o ligi što već organizator želi.
            Utrke se održavaju svakim četvrtkom u 20:00. Liga namjenjena za igrače iz ovog govornog područja.
        </div> -->
        <app-section-flex [direction]="'row'" class="wrapping" [titleM]="'Allowed assists'" >
            <app-icon-label [iconPath]="'assists/tractioncontrol.png'" [name]="'Traction Control'">Medium</app-icon-label>
            <app-icon-label [iconPath]="'assists/abs.png'" [name]="'ABS'">Off</app-icon-label>
            <app-icon-label [iconPath]="'assists/racingline.png'" [name]="'Racing Line'">Corners only</app-icon-label>
            <app-icon-label [iconPath]="'assists/gearbox.png'" [name]="'Gearbox'">Manual</app-icon-label>
        </app-section-flex>
        <app-section-flex [direction]="'row'" class="wrapping" [titleM]="'Lobby settings'" >
            <app-icon-label [iconPath]="'lobby/qualifying.png'" [name]="'Qualifying'">Short</app-icon-label>
            <app-icon-label [iconPath]="'lobby/formationlap.png'" [name]="'Formation Lap'">On</app-icon-label>
            <app-icon-label [iconPath]="'lobby/race.png'" [name]="'Race Distance'">50%</app-icon-label>
            <app-icon-label [iconPath]="'lobby/weather.png'" [name]="'Weather'"> Dynamic</app-icon-label>
            <app-icon-label [iconPath]="'lobby/cornercutting.png'" [name]="'Corner cutting'">Strict</app-icon-label>
            <app-icon-label [iconPath]="'lobby/damage.png'" [name]="'Damage'">Standard</app-icon-label>
            <app-icon-label [iconPath]="'lobby/parcferme.png'" [name]="'Parc Ferme'">On</app-icon-label>
            <app-icon-label [iconPath]="'lobby/engine.png'" [name]="'Engine'">Equal</app-icon-label>
            <app-icon-label [iconPath]="'lobby/safetycar.png'" [name]="'Safety Car'">Reduced</app-icon-label>
            <app-icon-label [iconPath]="'lobby/start.png'" [name]="'Starts'">Manual</app-icon-label>
            <app-icon-label [iconPath]="'lobby/collision.png'" [name]="'Collisions'">On</app-icon-label>
            <app-icon-label [iconPath]="'lobby/ghosting.png'" [name]="'Ghosting'">Off</app-icon-label>
        </app-section-flex>
    </div>
    <img src="../../../assets/images/league/league-logo.png" alt="">
</app-section-flex>

<app-section-flex [direction]="'row'" [title]="'Drivers championship standings'" >
    <app-table-driver-standings>
        
    </app-table-driver-standings>
</app-section-flex>

<app-section-flex [direction]="'row'" [title]="'Constructors championship standings'" >
    <app-table-team-standings>
        
    </app-table-team-standings>
</app-section-flex>

<app-section-flex [direction]="'column'" [title]="'Points distribution'" >
    <table>
        <thead>
            <th>Position</th>
            <th *ngFor="let p of mockPoints; let i = index">P{{i+1}}</th>
        </thead>
        <tbody>
            <tr>
                <td>Points</td>
                <td *ngFor="let p of mockPoints;">{{p}}</td>
            </tr>
        </tbody>
    </table>
</app-section-flex>