@use "../.././styles.scss" as v;

body {
  background-color: v.$primary;
  height: 64px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p{
  color: white;
  /* F1 League Stats */
  margin-left: 40px;
  margin-top: 16px;
  margin-bottom: 16px;

  width: 164px;
  height: 32px;

  /* Heading/M */
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;


  color: #FFFFFF;
}
