@use "../../../../styles.scss" as v;
@import "../../../shared/style/loading.scss";

@include loading-icon;

:host {
    padding: 0 20px;
    width: 100%;


    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 32px;
}

.flex-text-column {
    min-height: 160px;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;

    font-family: v.$text-family;
}

h1 {
    color: v.$neutral-900;
    font-family: v.$title-family;
    font-size: v.$title-size-l;
}
h2 {
    color: v.$neutral-900;
    font-family: v.$title-family;
    font-size: v.$title-size-m;
}

.track-map {
    height: min-content;
    max-width: 400px;
    max-height: 400px;

    border-radius: 16px;
}

.track-name {
    font-size: v.$text-size-m;
}

.racing-day {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    font-size: v.$text-size-m;
    color: v.$neutral-800;
}


/* TABLE */
table {
    width: fit-content;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
}
tr>* {
    padding: 0 16px;
}

tr {
    height: 48px;
    width: 100%;
    border: 0px solid;
    transition: all .1s linear;
}

td {
    height: 48px;
    min-width: 48px;
    vertical-align: middle;
}

td>* {
    vertical-align: middle;

}

.driver-name {
    width: fit-content;
    min-width: 120px;
}


td img {
    height: 80%;
    /* width: auto; */
}

.flag {
    min-width: 32px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

th div.flag {
    margin: auto;
}

td div.flag {
    height: 32px;
    width: 32px;
}

.flag img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.points {
    text-align: center;
}

.shadow {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}


.tyreth {

    width: fit-content;
    max-width: 250px;
}

.tyres {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    width: fit-content;
    max-width: 250px;

    img {
        height: 50%;
        width: auto;
    }
}