<div class="flex justify-center">
    <div class="card flex-grow bg-base-100 shadow-xl mt-20 mb-20 p-6">
        <h2 class="card-title mb-4">Register</h2>
        <form [formGroup]="form" class="flex flex-col gap-4" (ngSubmit)="onSubmit()">
            <input-text label="New password" type="password" placeholder="Enter a new password" formControlName="newPassword"></input-text>
            <input-text label="Repeat the new password" type="password" placeholder="Enter the new password again" formControlName="confirmPassword"></input-text>

            @if (passwordMismatch) {
                <small class="block text-error">Passwords do not match.</small>
            }

            <button class="btn btn-primary w-full" [disabled]="form.invalid || isLoading()">
                Submit
                @if (isLoading()) {
                    <span class="loading loading-spinner loading-sm"></span>
                }
            </button>
        </form>
    </div>
</div>