<div class="drawer">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="max-h-screen bg-gray-100 drawer-content flex flex-col">
        <div class="navbar bg-base-300 w-full fixed top-0">
            <div class="flex-none lg:hidden">
                <label for="my-drawer-2" aria-label="open sidebar" class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="inline-block h-6 w-6 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </label>
            </div>
            <div class="mx-2 flex-1 px-2"> Racing League Hub</div>
            <div class="hidden flex-none lg:block">
                <ul class="menu menu-horizontal">
                    <li><a>Navbar Item 1</a></li>
                    <li><a>Navbar Item 2</a></li>
                </ul>
            </div>
        </div>
        <div class="max-h-screen bg-gray-100">
            <div class="mx-auto max-w-[1600px] px-6 lg:px-12 pt-20">
                <div class="grid grid-cols-1 lg:grid-cols-[250px_1fr_250px] gap-6 h-[calc(100vh-5em)]">
                    <aside class="hidden lg:block bg-white rounded-xl shadow p-4">
                        Left content
                    </aside>

                    <main class="bg-white rounded-t-xl shadow p-6 overflow-y-auto [scrollbar-width:none] [&::-webkit-scrollbar]:hidden">
                        <router-outlet />
                    </main>

                    <aside class="hidden lg:block bg-white rounded-xl shadow p-4">
                        Right content
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 min-h-full w-80 p-4">
            <li><a>Sidebar Item 1</a></li>
            <li><a>Sidebar Item 2</a></li>
        </ul>
    </div>
</div>