@use "../../../app/shared/style/variables" as v;
@import "./font.scss";

@mixin form-setup {
    form {
        width: fit-content;
        /* max-width: 800px; */
        min-width: 500px;
        height: fit-content;
        padding: 20px;
        align-self: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        background-color: v.$neutral-100;
        border-radius: 16px;
    }

    h1 {
        font-family: v.$title-family;
        font-size: v.$title-size-l;
        color: v.$neutral-900;
        text-align: center;

        width: 100%;
    }

    .form-column {
        width: fit-content;
        flex-grow: 2;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }

    .description {
        display: block;
        width: 100%;

        @include text;
        color: v.$neutral-800;
        font-size: v.$text-size-s;

    }
}

@mixin input-fields {
    input {
        display: inline;
    }

    input[type=text],
    textarea,
    input[type=email],
    input[type=password],
    input[type=number],
    input[type=datetime-local] {
        height: 48px;
        width: 100%;
        padding: 8px 20px;

        font-family: v.$text-family;
        font-size: v.$text-size-s;
        color: v.$neutral-900;
        background-color: v.$neutral-200;

        border-radius: 8px;
        border: 1px solid v.$neutral-300;


    }
    input.ng-dirty.ng-invalid {
        background-color: v.$error-light;
        border-color: v.$error-red;
        color: v.$error-dark;
        :focus{
            border-color: v.$error-red;
        }   
    }

    textarea {
        height: 90px;
        padding: 16px 20px;
    }

    input[type=text]:focus,
    input[type=number]:focus,
    textarea:focus {
        border: 1px solid v.$neutral-800;
    }

    /*     input[type=text]::placeholder {
        text-transform: capitalize;
    } */
    label::first-letter {
        text-transform: uppercase;
    }

    label {
        align-self: baseline;

        display: block;
        margin-bottom: -8px;

        color: v.$neutral-800;
        font-size: v.$text-size-xs;
    }

    .label-flex {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -8px;

        font-size: v.$text-size-xs;
    }

    a {
        text-decoration: none;
    }

    button {
        border-radius: 8px;
        padding: 8px 24px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        /* Description/M */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;

        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        color: v.$neutral-100;
        background-color: v.$secondary;
        cursor: pointer;
    }

    button:disabled {
        cursor: default;
        color: v.$neutral-500;
        background-color: v.$neutral-200;
    }


    .label-input-row {
        width: 400px;
        height: 48px;

        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .unit {
        margin-left: -32px;
    }

    /* HIDE ARROWS IN NUMBER INPUT*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        width: 80px;
        appearance: textfield;
        -moz-appearance: textfield;
    }

    .placeholder {
        margin: -53px 0 14px 21px;
    }
}

@mixin select {
    select {
        height: 48px;
        width: fit-content;
        padding: 8px 20px;

        font-family: v.$text-family;
        font-size: v.$text-size-s;

        cursor: pointer;
        color: v.$neutral-900;
        background-color: v.$neutral-200;
        border-radius: 8px;
        border: 1px solid v.$neutral-300;

    }

    option {
        height: 48px;
    }

    select::after {
        margin-top: -10px;
    }
}

@mixin file-upload {
    input[type=file] {
        font-family: v.$text-family;
        font-size: v.$text-size-s;
        color: v.$neutral-900;
        width: 400px;
    }

    input[type=file]::file-selector-button {
        display: inline-block;
        height: 48px;
        padding: 0 20px;
        margin-right: 16px;
        cursor: pointer;

        background-color: v.$neutral-200;

        border-radius: 8px;
        border: 1px solid v.$neutral-300;

        ::before {
            font-size: 20px;
        }
    }

    .preview {
        max-height: 200px;
        max-width: 200px;
    }

}

@mixin color-picker {
    .color-input {
        width: 200px;
        height: 48px;
        border-radius: 8px;
        text-align: center;

        cursor: pointer;
    }
}

@mixin alert {
    .error-text {
        color: v.$error-red;
    }
}


@mixin switch {

    // Switch
    .switch {
        width: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__box {
            width: 40px;
            height: 16px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: v.$neutral-300;
            transition: background .1s;
        }

        &__check {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: relative;
            background: v.$neutral-300;
            left: -8px;
            transition: left .1s, background .1s;
            box-shadow: 0px 0px 4px rgba(39, 39, 39, 0.35);
            border-width: 0px;
            border-color: v.$secondary;
            border-style: solid;
            box-sizing: border-box;
        }

        &__input {
            position: absolute;
            appearance: none;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
        }
    }

    .switch__input:checked+.switch__box {
        background: v.$primary;

        .switch__check {
            background: v.$secondary;
            left: 8px;
            border-color: v.$primary
        }
    }

    .switch__input:focus-visible+.switch__box .switch__check {
        border-width: 2px !important;
    }

    .switch__input:disabled {
        &+.switch__box {
            background: v.$neutral-300;

            .switch__check {
                background: v.$neutral-500;
            }
        }

        &:checked+.switch__box .switch__check {
            background: v.$neutral-300;
        }
    }
}