@use "../../../app/shared/style/variables" as v;

@mixin table-setup {

    table {
        width: fit-content;
        align-self: flex-start;

        text-align: left;
        vertical-align: middle;
        border-collapse: collapse;
    }

    tr {
        height: 48px;
        width: 100%;
        border: 0px solid;
    }

    tr:hover td {
        background-color: v.$neutral-100;
    }

    td,
    th {
        padding: 0 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    th {
        height: 48px;
        font-weight: 500;
        font-size: v.$text-size-s;
    }

    td {
        height: 48px;
        min-width: 48px;
        vertical-align: middle;
        img {
            height: 80%;
        }
    }

    td>* {
        vertical-align: middle;
    }

    // Set border-radius on the top-left and bottom-left of the first table data on the table row
    td:first-child,
    th:first-child {
        border-radius: 10px 0 0 10px;
    }

    // Set border-radius on the top-right and bottom-right of the last table data on the table row
    td:last-child,
    th:last-child {
        border-radius: 0 10px 10px 0;
    }
}