<app-section-flex [direction]="'row'">
    <div class="flex-text-column">
        <h1>Velika nagrada Austrije</h1>
        <h2>F1 Adria Liga</h2>
        <div class="track-name">Red Bull Ring - 30 June 2023</div>
        <app-btn-custom [faIcon]="faPlay" [label]="'Race Video'"></app-btn-custom>
        <app-section-flex [direction]="'row'" class="wrapping"  [justify]="'flex-start'">
            <app-icon-label [iconPath]="'track_features/turns.svg'" [name]="'Turns'">18</app-icon-label>
            <app-icon-label [iconPath]="'track_features/turnleft.svg'" [name]="'Left turns'">6</app-icon-label>
            <app-icon-label [iconPath]="'track_features/length.svg'" [name]="'Track length'">5.423m</app-icon-label>
            <app-icon-label [iconPath]="'track_features/elevation.svg'"
                [name]="'Elevation change'">102.3m</app-icon-label>
        </app-section-flex>

    </div>
    <img class="track-map" src="../../../assets/images/track/map_detail/17.png" alt="">
</app-section-flex>

<app-section-flex [title]="'Race results'">
    <app-table-race-result></app-table-race-result>
</app-section-flex>

<app-section-flex [title]="'Qualifying results'">
    <app-table-qualifying-result></app-table-qualifying-result>
</app-section-flex>

<app-section-flex [title]="'Fastest lap of the race'" [direction]="'row'" [justify]="'flex-start'">
    <table>
        <thead>
            <tr>
                <th>Team</th>
                <th></th>
                <th>Driver</th>
                <th>Time</th>
                <th class="tyreth">Tyre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <img src="../../../../assets/images/teams/1.png" alt=""> </td>
                <td>
                    <div class="flag shadow">
                        <img class="shadow" src="https://hatscripts.github.io/circle-flags/flags/rs.svg" alt="race">
                    </div>
                </td>
                <td class="driver-name">Dimitrije Minić</td>
                <td>3:45.678</td>
                <td class="tyres">
                    <img src="../../../../assets/images/icons/tyre/s.svg" alt="">
                </td>
            </tr>
        </tbody>
    </table>
</app-section-flex>