<div class="flex justify-center">
    <div class="card flex-grow bg-base-100 shadow-xl mt-20 mb-20 p-6">
        <h2 class="card-title mb-4">Reset the password</h2>
        <form class="flex flex-col gap-4" (submit)="onSubmit($event)">
            <input-text [formControl]="email"></input-text>

            <button class="btn btn-primary w-full" [disabled]="email.invalid || isLoading()" type="submit">
                Send Reset Link
                @if (isLoading()) {
                    <span class="loading loading-spinner loading-sm"></span>
                }
            </button>
        </form>
    </div>
</div>