<div class="track" [ngStyle]="{'background-image': linearGrad + ', url('+trackPhoto+')'}">
    <div class="track-map">
        <img src="../../../../assets/images/track/map/17.png" alt="">
    </div>
</div>

<div class="info">
    <div class="flex-text-column">
        <div class="country-name">
            Austria
        </div>
        <div class="race-info">
            30 Jun 2023
        </div>
        <div class="race-info small">
            Bahrain International Circuit
        </div>

    </div>
    <div class="buttons">
        <div class="flag shadow">
            <img src="https://hatscripts.github.io/circle-flags/flags/at.svg" alt="flag">
        </div>
        <!-- <app-btn-custom [iconName]="faPlay"> </app-btn-custom> -->
    </div>
</div>