<div
  class="track"
  [ngStyle]="{ 'background-image': linearGrad + ', url(../../../../assets/images/track/photo/' + trackId + '.jpg)' }">
  <div class="track-map">
    <img src="../../../../assets/images/track/map/{{trackId}}.png" alt="" />
  </div>
</div>

<div class="info">
  <div class="flex-text-column">
    <div class="country-name">{{gpName}}</div>
    <div class="race-info">{{startTime | date:'d MMMM y'}}</div>
    <div class="race-info small">{{trackName}}</div>
  </div>
  <div class="buttons">
    <div class="flag shadow">
      <img
        src="https://hatscripts.github.io/circle-flags/flags/{{countryIso | lowercase}}.svg"
        src="https://hatscripts.github.io/circle-flags/flags/{{countryIso | lowercase}}.svg"
        alt="flag"
      />
    </div>
    <!-- <app-btn-custom [iconName]="faPlay"> </app-btn-custom> -->
  </div>
</div>
