<div class="flex justify-center">
    <div class="card w-96 bg-base-100 shadow-xl mt-20 mb-20">
        <form [formGroup]="formGroup" class="card-body" (ngSubmit)="onSubmit()">
            <h2 class="card-title">Login</h2>
            <div class="items-center mt-2">
                <label class="input input-bordered flex items-center gap-2 mb-2 w-full">
                    <!-- <lucide-icon [img]="UserIcon" size="20"></lucide-icon> -->
                    <input type="email" placeholder="Enter email" formControlName="email" class="grow" />
                </label>
                <label class="input input-bordered flex items-center gap-2 mb-2 w-full">
                    <!-- <lucide-icon [img]="KeyRoundIcon" size="20"></lucide-icon> -->
                    <input type="password" placeholder="Enter password" formControlName="password" class="grow" />
                </label>
            </div>

            <small>Still don't have an account? <a class="link" routerLink="/auth/register">Register here!</a></small>

            <div class="card-actions justify-end">
                <button class="btn btn-primary w-full">Log in</button>
            </div>
        </form>
    </div>
</div>