<!-- 
<app-alert></app-alert>

<app-announcement-carousel></app-announcement-carousel>
 -->
<app-section-flex [direction]="'row'" [title]="'Explore racing community'" [justify]="'space-between'">

    <a routerLink="/leagues/add">
        <app-btn-large [label]="'Create your own league'" [iconName]="faPlus">
        </app-btn-large>
    </a>
    <a routerLink="/leagues">
        <app-btn-large [label]="'Find your place to race'" [iconName]="faSearch"></app-btn-large>
    </a>
    <app-btn-large [label]="'Check out the leaderboards'" [iconName]="faStopwatch"></app-btn-large>
</app-section-flex>

<div *ngIf="isDataLoaded">
    <app-section-flex [direction]="'column'" [title]="'Recent results'">
        <app-race-row 
            *ngFor="let item of grandPrixData" 
            [first]="item.name" 
            [firstDescription]="item.track.location"
            [second]="item.league.name" 
            [secondDescription]="item.season.name"
            [third]="(item.startTime | dateDiffFromNow) + ' ago'"
            [routerLink]="['leagues', item.league.id, 'season', item.season.id ,'grandprix', item.id]"
            >
            <app-btn-custom
                [label]="'Race video'"
                [faIcon]="faPlayCircle"
                (click)="goToExternal(item.youtubeUrl, $event)"
                >
            </app-btn-custom>
        </app-race-row>
    </app-section-flex>
</div>
<div>
    <app-section-flex [direction]="'column'" [title]="'Active seasons'">
        <app-race-row 
            *ngFor="let league of popularLeagues;" 
            [first]="league.name"
            [routerLink]="['leagues', league.id]"
            >
            <img src="../../../assets/images/game/black/{{league.game | enumValueName:gameEnum | noSpace}}.svg" *ngIf="league.game" alt="Game" class="racerow-icon">
            <img src="../../../assets/images/icons/platform/{{league.platform | enumValueName:platformEnum | lowercase}}.svg" *ngIf="league.platform" alt="Platform" class="racerow-icon">
        </app-race-row>
    </app-section-flex>
</div>