<app-alert></app-alert>

<app-announcement-carousel></app-announcement-carousel>

<app-section-flex [direction]="'row'" [title]="''">
  <app-btn-large [label]="'Create your own league'" [icon]="'add'"></app-btn-large>
  <app-btn-large [label]="'Find your place to race'" [icon]="'search'"></app-btn-large>
  <app-btn-large [label]="'Check out the leaderboards'" [icon]="'timer'"></app-btn-large>
</app-section-flex>

<!-- Ove vrijednosti zamjeniti podacima iz baze podataka ili kreirati placeholder objekte! -->
<!-- U buducnosti koristiti NgFor directive za prikaz objekata sadrzanih u arrayu dobivenom od strane baze -->
<app-section-flex [direction]="'column'" [title]="'Recent results'">
  <app-result-row [grandPrixName]="'VN Bahreina'" [leagueName]="'F1 Adria Liga'" [seasonName]="'Sezona 5'" (click)="openRace()"></app-result-row>
  <app-result-row [grandPrixName]="'VN Australije'" [leagueName]="'OKTAN F1 Liga'" [seasonName]="'Sezona 3'"></app-result-row>
  <app-result-row [grandPrixName]="'Formula 1 Emilia Romagna Grand Prix'" [leagueName]="'Formula 1'" [seasonName]="'2023'"></app-result-row>
</app-section-flex>

<app-section-flex [direction]="'column'" [title]="'Popular leagues'">
  <app-result-row></app-result-row>
  <app-result-row></app-result-row>
  <app-result-row></app-result-row>
</app-section-flex>

