@use "../../../../../../app/shared/style/variables" as v;
@import "../../../../../shared/style/table.scss";

@include table-setup;

:host {
    display: contents;
    width: 100%;
}



.driver-name {
    width: fit-content;
    min-width: 120px;
}

.flag {
    min-width: 32px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

th div.flag {
    margin: auto;
}

td div.flag {
    height: 32px;
    width: 32px;
}

.flag img {
    height: 100%;
    width: auto;
    object-fit: cover;
    cursor: pointer;
}

.points {
    text-align: center;
}