@use "../../../../../styles.scss" as v;

.flex-text-column {
    min-height: 160px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;

    font-family: v.$text-family;
}

h1 {
    color: v.$neutral-900;
    font-family: v.$title-family;
    font-size: v.$title-size-l;
}

.racing-day {
    font-size: v.$text-size-m;
    color: v.$neutral-800;
}

.description {
    font-size: v.$text-size-s;
    color: v.$neutral-800;
    line-height: 150%;
}

img {
    height: 100%;
    max-height: 256px;
    aspect-ratio: 1/1;
    border-radius: 16px;
}

.social-media {
    width: fit-content;
    height: fit-content;
    /*     max-width: 120px;
    max-height: 160px; 
    min-width: 90px;
    align-self: flex-end;*/


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}