<app-section-flex [direction]="'row'">
    <div class="flex-text-column">
        <h1>F1 Adria Liga</h1>
        <div class="racing-day">
            Racing every Thursday at 20:00 CEST.
        </div>
        <div class="description">
            Basic infromacije o ligi što već organizator želi.
            Utrke se održavaju svakim četvrtkom u 20:00. Liga namjenjena za igrače iz ovog govornog područja.
        </div>
    </div>
    <div class="social-media">
        <app-btn-custom [iconName]="faYoutube"></app-btn-custom>
        <app-btn-custom [iconName]="faDiscord"></app-btn-custom>
        <app-btn-custom [iconName]="faInstagram"></app-btn-custom>
        <app-btn-custom [iconName]="faFacebook"></app-btn-custom>
        <app-btn-custom [iconName]="faTwitch"></app-btn-custom>
        <app-btn-custom [iconName]="faGlobe"></app-btn-custom>
    </div>
    <img src="../../../assets/images/league/league-logo.png" alt="">
</app-section-flex>



<app-section-flex [title]="'All seasons'" [direction]="'row'" class="wrapping large-gap">
    <app-season-card></app-season-card>
    <app-season-card></app-season-card>
    <app-season-card></app-season-card>
    <app-season-card></app-season-card>
    <app-season-card></app-season-card>
    <app-season-card></app-season-card>
    <app-season-card></app-season-card>
    <app-season-card></app-season-card>
    <app-season-card></app-season-card>
</app-section-flex>