<app-section-flex [direction]="'row'">
    <div class="flex-text-column">
        <h1>{{leagueItem.name}}</h1>
        <div class="racing-day">
            Racing every Thursday at 20:00 CEST.
        </div>
        <div class="description">
            {{leagueItem.description}}
<!--        Basic infromacije o ligi što već organizator želi.
            Utrke se održavaju svakim četvrtkom u 20:00. Liga namjenjena za igrače iz ovog govornog područja. -->
        </div>
        <div class="social-media">
            <app-btn-custom [faIcon]="faYoutube"></app-btn-custom>
            <app-btn-custom [faIcon]="faDiscord"></app-btn-custom>
            <app-btn-custom [faIcon]="faInstagram"></app-btn-custom>
            <app-btn-custom [faIcon]="faFacebook"></app-btn-custom>
            <app-btn-custom [faIcon]="faTwitch"></app-btn-custom>
            <app-btn-custom [faIcon]="faGlobe"></app-btn-custom>
        </div>
    </div>
    <img src="../../../assets/images/league/league-logo.png" alt="">
</app-section-flex>


<app-section-flex [title]="'All seasons'" [direction]="'row'" class="wrapping" [gap]="'20px 10px'">
<!--     <app-season-card
        [logoPath]="'../../../assets/images/league/league-logo.png'" 
        [gameName]="'F1 2021'" 
        [text]="'Sezona 1'" 
        [subtext]="'Jun 2023 - Oct 2023'">
    </app-season-card>
 -->
    <ng-container *ngFor="let s of leagueItem.seasonsInLeague">
        <a [routerLink]="['season', s.id]" >
            <app-season-card
                [text]="s.name"
                [subtext]="s.platform.name"
                >
            </app-season-card>
        </a>
    </ng-container>
</app-section-flex>

