@use "app/shared/style/variables" as v;

* {
    border: none;
    margin: 0px;
    box-sizing: border-box;
}

router-outlet {
    display: none;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 500 600;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

html,
body {
    height: 100%;
}

body {
    all: unset; //because of CoreUI library's body properties
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: v.$neutral-200;
}

a {
    display: contents;
    text-decoration: none;
}