@layer base {

    label.input>input {
        box-shadow: none !important;
    }

    :where(.input, .select, .textarea, .btn, .file-input):focus,
    :where(.input, .select, .textarea, .btn, .file-input):focus-visible,
    :where(.input, .select, .textarea, .btn, .file-input):focus-within {
        outline: none !important;
        box-shadow: none !important;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}