<form [formGroup]="form" (ngSubmit)="saveAllChanges()" class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <input-text label="Name" formControlName="name" placeholder="Scuderia Ferrari" [maxlength]="128"></input-text>
    <input-text label="Short name" formControlName="shortName" placeholder="Ferrari" [maxlength]="64"></input-text>
    <input-text label="Abbreviation" formControlName="abbreviation" placeholder="FER" [maxlength]="3"></input-text>

    <label class="block text-sm font-medium mb-1">
        <p class="mb-1">Game</p>
        <ng-select [items]="gameChoices" 
            bindLabel="name"
            bindValue="id"
            formControlName="game">
        </ng-select>
    </label>

    <label class="block text-sm font-medium">
        <p class="mb-1">Color</p>
        <input type="color" formControlName="color" class="input w-full cursor-pointer px-1" title="Choose your color">
    </label>

    <input-number label="Ingame telemetry ID" formControlName="telemetryId" placeholder="0" [min]="0"></input-number>

    <div class="md:col-span-2 flex justify-end gap-2">
        <button type="button" (click)="onCancel()" class="btn btn-soft btn-error">
            Cancel
        </button>

        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
            Save All Changes
        </button>
    </div>
</form>