<h1>Create points system for {{sessionName}}</h1>
<ng-container [formGroup]="parentFormGroup">
    <form formGroupName={{sessionType[sessionName]}}>
        <div class="description">
            Decide the points distribution for {{sessionName}} session. If you don't want to give out points in {{sessionName}}, leave this empty and go to the next step.
        </div>
        <div class="buttons">
            <button type="button" (click)="addPointsItem()" [disabled]="pointsArray.controls.length >= 20">
                <!-- <fa-icon [icon]="faPlus"/> -->
                {{pointsArray.controls.length < 20 ? "Add position" : "Maximum is 20 drivers" }} </button>
                    <!-- <button type="button" (click)="removePointsItem()" [disabled]="pointsArray.controls.length < 1">
            Remove position
        </button> -->
        </div>
        <div class="input-fields">
            <div class="labels" *ngIf="pointsArray.controls.length">
                <label>Position</label>
                <label>Points</label>
            </div>
            <ng-container *ngFor="let pointsItem of pointsArray.controls; let i = index">
                <app-points-item [pointsItem]="toFormGroup(pointsItem)"
                    [arrayIndex]="i" (removePointsItemEvent)="removePointsItem($event)"></app-points-item>
            </ng-container>
        </div>
    </form>
</ng-container>