@use "../../../../styles.scss" as v;

:host {

    width: 100%;
}

table {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse
}

tr {
    height: 48px;
    width: 100%;
    border: 0px solid;
    transition: all .1s linear;
}

tr:hover {
    background-color: v.$neutral-300;
}


td {
    height: 48px;
    min-width: 48px;
    vertical-align: middle;
}

td>* {
    vertical-align: middle;

}

.team-name {
    width: fit-content;
    min-width: 120px;
}


td img {
    height: 80%;
    /* width: auto; */
}

.flag {
    min-width: 32px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

th div.flag {
    margin: auto;
}

td div.flag {
    height: 32px;
    width: 32px;
}

.flag img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.points {
    text-align: center;
}

.shadow {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}