:host {
    position: sticky;
    top: 84px;

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    padding: 0 20px 20px;
}

[ng-reflect-router-link] {
    cursor: pointer;
}