<app-section-flex [direction]="'column'" [title]="'Live races'">
    <app-sidebar-race [timeRemainingM]="-20" [leagueName]="'F1 Adria Liga'" [grandPrixName]="'VN Azerbajdžana'"></app-sidebar-race>
    <app-sidebar-race [timeRemainingM]="0" [leagueName]="'F1 Adria Liga'" [grandPrixName]="'VN Azerbajdžana'"></app-sidebar-race>
</app-section-flex>

<app-section-flex [direction]="'column'" [title]="'Upcoming races'">
    <app-sidebar-race [timeRemainingM]="42" [leagueName]="'F1 Adria Liga'" [grandPrixName]="'VN Azerbajdžana'"></app-sidebar-race>
    <app-sidebar-race [timeRemainingM]="65" [leagueName]="'OKTAN F1 Liga'" [grandPrixName]="'Velika nagrada Emilije Romagne'"></app-sidebar-race>
    <app-sidebar-race [timeRemainingM]="740" [leagueName]="'PSGL'" [grandPrixName]="'British Grand Prix'"></app-sidebar-race>
</app-section-flex>