<app-section-flex *ngIf="grandPrixLive.length" [direction]="'column'" [title]="'Live races'">
    <app-sidebar-race 
        *ngFor="let gp of grandPrixLive"
        [routerLink]="['leagues', gp.league.id, 'season', gp.season.id ,'grandprix', gp.id]"
        [startTime]="gp.startTime" 
        [leagueName]="gp.league.name"
        [grandPrixName]="gp.name">
        [streamUrl]="gp.youtubeUrl | urlHttp">
    </app-sidebar-race>
</app-section-flex>

<app-section-flex *ngIf="grandPrixStartingSoon.length" [direction]="'column'" [title]="'Upcoming races'">
    <app-sidebar-race 
        *ngFor="let gp of grandPrixStartingSoon"
        [routerLink]="['leagues', gp.league.id, 'season', gp.season.id ,'grandprix', gp.id]"
        [startTime]="gp.startTime" 
        [leagueName]="gp.league.name"
        [grandPrixName]="gp.name"
        [streamUrl]="gp.youtubeUrl | urlHttp">
    </app-sidebar-race>
</app-section-flex>