<ng-container [formGroup]="parentFormGroup">
    <h1>Define restricted assists</h1>
    <form formGroupName="assists">  
        <div class="description">
            What are the assist restrictions while racing?
        </div>
        <app-section-flex [direction]="'column'" class="wrapping">
            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockAssists[0].iconPath"
                    [name]="mockAssists[0].label"
                ></app-icon-label>
                <select formControlName="tractionControl">
                    <option value="Off">Off</option>
                    <option value="Medium">Medium</option>
                    <option value="Full">Full</option>
                </select>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockAssists[1].iconPath"
                    [name]="mockAssists[1].label"
                ></app-icon-label>
                <app-switch [controlName]="'abs'"></app-switch>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockAssists[2].iconPath"
                    [name]="mockAssists[2].label"
                ></app-icon-label>
                <select formControlName="racingLine">
                    <option value="Off">Off</option>
                    <option value="Corners only">Corners only</option>
                    <option value="Full">Full</option>
                </select>
            </div>

            <div class="label-input-row">
                <app-icon-label 
                    [width]="'165px'"
                    [iconPath]="mockAssists[0].iconPath"
                    [name]="mockAssists[0].label"
                ></app-icon-label>
                <select formControlName="gearbox">
                    <option value="Manual">Manual</option>
                    <option value="Automatic">Automatic</option>
                </select>
            </div>
        </app-section-flex>
    </form>
</ng-container>