<div class="space-y-8">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <input-text label="Name" formControlName="name" placeholder="Ferrari"></input-text>

        <label class="block text-sm font-medium">
            <p class="mb-1">Color</p>
            <input type="color" formControlName="color" class="input w-full cursor-pointer px-1" title="Choose your color">
        </label>

        <div class="md:col-span-2 flex justify-end gap-2">
            <button type="button" (click)="onCancel()" class="btn btn-soft btn-error">
                Cancel
            </button>

            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                Save All Changes
            </button>
        </div>
    </form>
</div>