@import "../../../shared/style/form.scss";
@import "../../../shared/style/table.scss";

@include input-fields;
@include form-setup;
@include select;
@include file-upload;
@include alert;

@include table-setup;

:host {
    width: 100%;
}

form {
    width: 100%;
}

table {
    width: 100%;
}

td, th {
    padding: 8px;
    text-align: center;
}
th:last-child {
    text-align: center;
}


button {
    width: fit-content;
    height: fit-content;
    /* align-self: flex-end; */
}

.prev-next {
    width: 72px;
    display: flex;
}